# Cross Validation

#### Import modules

In [0]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import make_scorer, accuracy_score

from sklearn.model_selection import cross_val_score, StratifiedKFold

## Import dataset

In [0]:
url = "https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Odyssey/Dataset/titanic.csv"
df_titanic = pd.read_csv(url)
df_titanic = pd.get_dummies(df_titanic, columns = ['Sex'], drop_first = True)

In [3]:
df_titanic.describe(include = 'all').T

                        count unique  ...      75%      max
Survived                  887    NaN  ...        1        1
Pclass                    887    NaN  ...        3        3
Name                      887    887  ...      NaN      NaN
Age                       887    NaN  ...       38       80
Siblings/Spouses Aboard   887    NaN  ...        1        8
Parents/Children Aboard   887    NaN  ...        0        6
Fare                      887    NaN  ...  31.1375  512.329
Sex_male                  887    NaN  ...        1        1

[8 rows x 11 columns]

In [4]:
df_titanic.head()

   Survived  Pclass  ...     Fare  Sex_male
0         0       3  ...   7.2500         1
1         1       1  ...  71.2833         0
2         1       3  ...   7.9250         0
3         1       1  ...  53.1000         0
4         0       3  ...   8.0500         1

[5 rows x 8 columns]

## KNN Classifier -- simple split

### Train test split

In [0]:
X = df_titanic[['Pclass', 'Sex_male', 'Age']]
y = df_titanic['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, train_size = 0.75)

### Train model

In [6]:
kNNRegModel = KNeighborsClassifier().fit(X_train, y_train)

y_pred = kNNRegModel.predict(X_test)

print("Score for the Test dataset :", round(accuracy_score(y_pred, y_test), 5))

Score for the Test dataset : 0.76126

## KNN Classifer -- Cross Validation

In [7]:
cv = StratifiedKFold(n_splits = 6, random_state = 42, shuffle = True)

scores = cross_val_score(KNeighborsClassifier(), X, y, cv = cv, scoring = make_scorer(accuracy_score))
scores

array([0.81081081, 0.76351351, 0.76351351, 0.77702703, 0.80405405,
       0.7414966 ])