Chargez dans pandas les données disponibles à l'URL suivant:   
https://raw.githubusercontent.com/arx-deidentifier/arx/master/data/adult.csv

Votre travail est maintenant de prédire la variable binaire *salary-class*. Avant d'utiliser un algorithme prédictif, vous allez devoir retravailler vos données (utilisation de la dummification et du labelencoder).

Pour la prédiction, vous devrez mettre en place un régression logistique (pour laquelle il y a tout plein de paramètres https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html).   
Cependant vous allez devoir optimiser l'algorithme en créant une grille de paramètres et en utilisant la fonction GridSearchCV de sklearn (https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html).

Bon courage !

In [0]:
import pandas as pd 
import matplotlib as plt
from sklearn import preprocessing

In [0]:
url= 'https://raw.githubusercontent.com/arx-deidentifier/arx/master/data/adult.csv'
df = pd.read_csv(url, sep=';')

In [42]:
df

          sex  age   race  ...         workclass         occupation salary-class
0        Male   39  White  ...         State-gov       Adm-clerical        <=50K
1        Male   50  White  ...  Self-emp-not-inc    Exec-managerial        <=50K
2        Male   38  White  ...           Private  Handlers-cleaners        <=50K
3        Male   53  Black  ...           Private  Handlers-cleaners        <=50K
4      Female   28  Black  ...           Private     Prof-specialty        <=50K
...       ...  ...    ...  ...               ...                ...          ...
30157  Female   27  White  ...           Private       Tech-support        <=50K
30158    Male   40  White  ...           Private  Machine-op-inspct         >50K
30159  Female   58  White  ...           Private       Adm-clerical        <=50K
30160    Male   22  White  ...           Private       Adm-clerical        <=50K
30161  Female   52  White  ...      Self-emp-inc    Exec-managerial         >50K

[30162 rows x 9 columns]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             30162 non-null  object
 1   age             30162 non-null  int64
 2   race            30162 non-null  object
 3   marital-status  30162 non-null  object
 4   education       30162 non-null  object
 5   native-country  30162 non-null  object
 6   workclass       30162 non-null  object
 7   occupation      30162 non-null  object
 8   salary-class    30162 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [44]:
df.describe()

                age
count  30162.000000
mean      38.437902
std       13.134665
min       17.000000
25%       28.000000
50%       37.000000
75%       47.000000
max       90.000000

In [45]:
df['salary-class'].unique()

array(['<=50K', '>50K'], dtype=object)

In [0]:
df= pd.get_dummies(df, columns = ['sex'])

In [47]:
df

       age   race      marital-status  ... salary-class sex_Female sex_Male
0       39  White       Never-married  ...        <=50K          0        1
1       50  White  Married-civ-spouse  ...        <=50K          0        1
2       38  White            Divorced  ...        <=50K          0        1
3       53  Black  Married-civ-spouse  ...        <=50K          0        1
4       28  Black  Married-civ-spouse  ...        <=50K          1        0
...    ...    ...                 ...  ...          ...        ...      ...
30157   27  White  Married-civ-spouse  ...        <=50K          1        0
30158   40  White  Married-civ-spouse  ...         >50K          0        1
30159   58  White             Widowed  ...        <=50K          1        0
30160   22  White       Never-married  ...        <=50K          0        1
30161   52  White  Married-civ-spouse  ...         >50K          1        0

[30162 rows x 10 columns]

In [0]:
le = preprocessing.LabelEncoder()
# le.fit(df['sex'])

In [0]:
df_num = df.apply(le.fit_transform)

In [50]:
df_num

       age  race  marital-status  ...  salary-class  sex_Female  sex_Male
0       22     4               4  ...             0           0         1
1       33     4               2  ...             0           0         1
2       21     4               0  ...             0           0         1
3       36     2               2  ...             0           0         1
4       11     2               2  ...             0           1         0
...    ...   ...             ...  ...           ...         ...       ...
30157   10     4               2  ...             0           1         0
30158   23     4               2  ...             1           0         1
30159   41     4               6  ...             0           1         0
30160    5     4               4  ...             0           0         1
30161   35     4               2  ...             1           1         0

[30162 rows x 10 columns]

In [0]:
df_num=pd.concat([df['salary-class'], df_num], axis=1)

In [54]:
df_num

       salary-class  age  race  ...  salary-class  sex_Female  sex_Male
0             <=50K   22     4  ...             0           0         1
1             <=50K   33     4  ...             0           0         1
2             <=50K   21     4  ...             0           0         1
3             <=50K   36     2  ...             0           0         1
4             <=50K   11     2  ...             0           1         0
...             ...  ...   ...  ...           ...         ...       ...
30157         <=50K   10     4  ...             0           1         0
30158          >50K   23     4  ...             1           0         1
30159         <=50K   41     4  ...             0           1         0
30160         <=50K    5     4  ...             0           0         1
30161          >50K   35     4  ...             1           1         0

[30162 rows x 11 columns]

In [53]:
df_num = df_num.drop[]

SyntaxError: ignored

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X=df.drop(['salary-class'], axis=1)
y= df['salary-class']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, train_size = 0.75)

print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

The length of the initial dataset is : 30162
The length of the train dataset is   : 22621
The length of the test dataset is    : 7541

In [0]:
logmodel_LR=LogisticRegression()

logmodel_LR.fit(X_train,y_train)

predictions_LR = logmodel_LR.predict(X_test)

ValueError: ignored

In [0]:
#le = preprocessing.LabelEncoder()
#le.fit(["paris", "paris", "tokyo", "amsterdam"])
#LabelEncoder()